* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --purple: #da7da7;
    --purple_lowopacity: #da7da780;
    /* --purple_medopacity: #da7da760; */
    --green: #a7da7d;
    --blue: #7da7da;
}

/* body {
} */

header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 16px;
    background-color: var(--purple_lowopacity);
}

h1 {
    font-size: 32px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 8px;
}

nav li {
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 8px;
    border-radius: 8px;
}

nav li:hover {
    font-size: 18px;
    background-color: var(--purple_lowopacity);
    transform: translateY(1px);
}